form fieldset {
  padding: 2rem 0.5rem;
}
form legend {
  font-size: 2rem;
  font-weight: bold;
  color: lightblue;
}
form input,
form textarea {
  width: 100%;
  padding: 0.5rem 1rem;
  font-family: inherit;
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
  border: thin solid white;
  margin-bottom: 1rem;
  resize: none;
}
form label {
  font-size: 1.25rem;
  font-weight: bold;
  color: lightcyan;
}

form select {
  background-color: cyan;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
